/BusinessLayer/obj
/BusinessLayer/.vs
/BusinessLayer/bin
/Data_Layer/obj
/Data_Layer/.vs
/Data_Layer/bin
/HRM/obj
/HRM/.vs
/HRM/bin
/HRM_Ext/obj
/HRM_Ext/.vs
/HRM_Ext/bin
/HRMConfiguration/obj
/HRMConfiguration/bin
/Setup/Release
/Setup/Debug
/Setup1/Release
/Setup1/Debug
/Setup2_Test/Release
/Setup2_Test/Debug
/SetupHRMv3/Release
/SetupHRMv3/Debug
/packages
